@import "../../mixins.scss";

#homePage{
    background: rgba(215, 224, 255, 0.26);
    position: relative;
    // background-image: url("https://img1.wsimg.com/isteam/ip/f20b6afd-37da-4d22-8b55-c2bbb7a19551/priscilla-du-preez-dlxLGIy-2VU-unsplash.jpg/:/cr=t:7.43%25,l:0%25,w:100%25,h:74.99%25/rs=w:1240,h:620,cg:true");
    background-image: url(../../assets/images/bg.png);
    background-size: cover;
    background-position: center;
    .searchBar {
            margin-top: 95px;
            width: 915px;
            max-width: 100%;
            position: relative;
            @include md{
                margin-top: 160px;
            }
    
            input {
                height: 48px;
                padding: 13px 28px;
                border-radius: 13.735px;
                border: 0.687px solid rgba(0, 0, 0, 0.50);
                font-size: 18px;
                width: 100%;
                background: #FFF;
                color: #000;
                outline: none;
                font-weight: 400;
            
                &::placeholder {
                    color: rgba(0, 0, 0, 0.40);
                }

                @include md{
                    height: 75px;
                    padding: 20px 40px;
                    border-radius: 20px;
                    border: none;font-size: 32px;
                }
                

            }
    
            img {
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                right: 42px;
            }
        }
}



 

