@import "../../mixins.scss";

#productsPage{
    background: rgb(255, 255, 255);
    padding-top: 40px;
}

.searchBar {
    width: 630px;
    max-width: 100%;
    position: relative;
    margin: auto;

    input {
        width: 100%;
        height: 48px;
        padding: 13px 28px;
        border-radius: 13.735px;
        border: 0.687px solid rgba(0, 0, 0, 0.50);
        color: #000;
        outline: none;
        font-size: 18px;
        font-weight: 400;
        @include md{
            height: 55px;
            font-size: 21px;
        }

    }
    img {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 42px;
        width: 32px;
        height: 32px;
    }

}


.productsGrid{
    display: grid;
    column-gap: 15px;
    row-gap: 32px;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    .productImg{
        width: 100%;
    }
    @include sm{
        // column-gap: 40px;
        grid-template-columns: repeat(3, 1fr);
    }
    @include md{
        // column-gap: 40px;
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    }
    @include lg{
        column-gap: 40px;
        grid-template-columns: repeat(auto-fit,239px);
    }
}